# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bsc_coperdia"

# API
JWT_SECRET="supersecret-change-in-production"
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
FRONTEND_URL="http://localhost:3000"
